<div class="music first">
  <h2>Songs</h2>
  <p>Hey, get a load of our first EP, All Too Easy! Here's a music player so you can play it, or download it, or whatever. The music is being piped from <a href="http://order66.bandcamp.com">our bandcamp page</a>!</p>
  <div class="music_player">
    <%= render :partial => 'bandcamp_player' %>
  </div>
</div>
<div class="gigs">
  <h2>Gigs</h2>
  <p>Ok, our next gigs are:</p>
  <ol class="gig_list">
    <li class="gig">
      <table>
        <tr>
          <th class="date">Date</th>
          <td>Saturday 28 August</td>
        </tr>
        <tr>
          <th class="place">Place</th>
          <td><a href="http://www.thecopa.co.uk/">Copa Cabana ultimate tournament, Nottingham</a> (<a href="http://maps.google.com/maps?f=q&q=52.9355,+-1.151891&sll=52.9355,-1.151891&sspn=0.008962,0.01929">map</a>)</td>
        </tr>
        <tr>
          <td colspan="2" class="extra">We're big into <a href="http://en.wikipedia.org/wiki/Ultimate_%28sport%29">ultimate</a> here at Order 66, so playing at <a href="http://www.thecopa.co.uk/">the partyingest tournament of them all</a> is something we're way stoked about! We're even going to <a href="http://open.spotify.com/user/action_ben/playlist/5Qa6DX08szcJcEpHLkbhZG ">play some covers</a>!</td>
        </tr>
      </table>
    </li>
    <li class="gig">
      <table>
        <tr>
          <th class="date">Date</th>
          <td>Thursday 16 September</td>
        </tr>
        <tr>
          <th class="place">Place</th>
          <td><a href="http://en.wikipedia.org/wiki/Hope_and_Anchor,_Islington">Hope and Anchor, Islington</a> (<a href="http://maps.google.com/maps?cid=15106435279255850224">map</a>)</td>
        </tr>
      </table>
    </li>
  </ol>
  <p>These gigs already happened!</p>
  <ol class="gig_list">
    <li class="gig">
      <table>
        <tr>
          <th class="date">Date</th>
          <td>Saturday 10 July</td>
        </tr>
        <tr>
          <th class="place">Place</th>
          <td><a href="http://www.myspace.com/loungebarstreetteam">The Lounge Bar, Alton</a> (<a href="http://maps.google.co.uk/maps?q=Alton+Community+Centre&sll=51.261915,-0.473785&sspn=0.334285,1.234589&z=14&iwloc=A">map</a>)</td>
        </tr>
        <tr>
          <th class="with">With</th>
          <td><a href="http://en.wikipedia.org/wiki/Random_Hand">Random Hand</a> + <a href="http://www.myspace.com/dirtyrevolution">Dirty Revolution</a></td>
        </tr>
        <tr>
          <td colspan="2" class="extra">This gig was heck of rad! Look, you can even see <a href="http://www.youtube.com/watch?v=P77lYM0wljw">a video of it</a>!</td>
        </tr>
      </table>
    </li>
  </ol>
</div>
<div class="intro">
  <object width="320" height="205"><param name="movie" value="http://www.youtube.com/v/P77lYM0wljw&amp;hl=en_GB&amp;fs=1?rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/P77lYM0wljw&amp;hl=en_GB&amp;fs=1?rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="320" height="205"></embed></object>
  <p>Order 66 is a pop-punk band from Surrey in England. Oh, go on, you know what pop punk is! It's what Green Day used to play before they went weird! And here's the thing - all our songs are about Star Wars! I know - awesome, right?</p>
  <p>The Star Wars stuff is in the lyrics, really. Some bits of the music from the movies sneak in there too, but it's not like we just play covers of the cantina band song (there's plenty of awesome bands taking care of that).</p>
  <p>We've played gigs with some sweet bands, like <a href="http://en.wikipedia.org/wiki/Random_Hand">Random Hand</a>, <a href="http://en.wikipedia.org/wiki/Assorted_Jelly_Beans">Assorted Jelly Beans</a>, <a href="http://www.last.fm/music/The+JB+Conspiracy">The JB Conspiracy</a>, <a href="http://www.myspace.com/zeeb">Zeeb?</a>, <a href="http://www.mrkamikaze.com/">Mr Kamikaze</a>, <a href="http://www.last.fm/music/Second+Time+Lucky">Second Time Lucky</a> and <a href="http://www.last.fm/music/A+Man+Down">A Man Down</a> - and the gigs we've got coming up are totally going to punish too!</p>
</div>
<div class="members_thumbs">
  <%= image_tag 'alex_thumb.png', :size => '70x70', :alt => 'Alex', :title => 'Alex (drums)' %>
  <%= image_tag 'ben_thumb.png', :size => '70x70', :alt => 'Ben', :title => 'Ben (vocals, guitar)' %>
  <%= image_tag 'chris_thumb.png', :size => '70x70', :alt => 'Chris', :title => 'Chris (guitar, vocals)' %>
  <%= image_tag 'thom_thumb.png', :size => '70x70', :alt => 'Thom', :title => 'Thom (bass, vocals)' %>
</div>
